.map_button{
	position: absolute;
	bottom: 16px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 64px;
	height: 64px;
	cursor: pointer;
}

.map_dimmer{
	background: #000000;
	opacity: 0.8;
	position:fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 998;
}

.map_dialog{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 512px;
	height: 512px;
	background-image: url('/map/nakedmap.png');
	background-size: 100%;
	z-index: 999;
	text-align: center;
	color: #000000;
	font-size: 200%;
	font-family: arial;
}
.map_dialog>button{
	font-size: 80%;
}
.map_dialog>select{
	font-size: 80%;
}
.map_dialog>select>option{
	font-size: 100%;
}