#cat_form {
	height: 100px;
    width: 100px;
    background: tomato;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

html, body {
	height: 100%;
    margin: 0;
    padding: 0;
}
#map {
	height: 100%;
} 
